.tab4 {
    float: right;
}
.reset {
    display: inline;
}

.btnClear, .btnSubmit {
    margin-top: 20px;
    margin-left: 20px;
}

.blue {
    background-color: rgb(134, 178, 235);
}

.green {
    background-color: rgb(123, 175, 123);
}

.orderSent {
    margin-top: 20px;
}